.main-container {
    margin-top: 20px;
    padding: 20pt;
    background-color: rgba(54,59,71,0.50);
    }

.form-action {
    margin: 0 auto;
    background-color: transparent;
    text-align: center;
    }

.alert {
    display: none;
    text-align: center;
    }