<div class="container-fluid login-reg-container">
  <h4 style="color:white; text-align: center">Accedi</h4>
  
  <form name="form" (ngSubmit)="f.form.valid && onLogin(f)" #f="ngForm" novalidate>
    <!-- Nickname input and errors -->  
    <div class="form-group">
      <label for="nickname">Nickname</label>
      <input type="text" class="form-control" name="nickname" [(ngModel)]="model.nickname" autocomplete="off" #nickname="ngModel"
        [ngClass]="{ 'is-invalid': f.submitted && nickname.invalid }" required />
      <div *ngIf="nickname.invalid" class="invalid-feedback">
        <div *ngIf="nickname.errors.required">Nickname è richiesto</div>
      </div>
    </div>
    
    <!-- Password input and errors -->  
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" name="password" [(ngModel)]="model.password" autocomplete="off" #password="ngModel"
        [ngClass]="{ 'is-invalid': f.submitted && password.invalid }" required minlength="6" />
      <div *ngIf="password.invalid" class="invalid-feedback">
        <div *ngIf="password.errors.required">Password è richiesta</div>
        <div *ngIf="password.errors.minlength">Password deve essere lunga almeno 6 caratteri</div>
      </div>
    </div>

    <div class="form-group form-action">
      <button class="btn btn-primary">Entra!</button>
    </div>
  
  </form>
</div>
