<nav class="navbar navbar-light navbar-expand-xl navbar-fixed-top">
    <div class="container-fluid">
  
      <div class="row" style="width:100%">
        <div class="col col-md-4">
          <!-- Sinistra -->
  
          <div class="navbar-brand title" routerLink="/home" routerLinkActive="active">
            <img src="assets/icons/win/256x256.ico" width="30" height="30" class="d-inline-block align-top" alt="">
            <a style="text-decoration: none; color: white">
              BattleShip </a>
          </div>
        </div>
  
        <div class="col" style="text-align: center">
          <!-- Centrale -->
          <h2>Il mio profilo</h2>
        </div>
  
        <div class="col" style="text-align: right;">
          <!-- Destra -->
  
          <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="true">
            {{ nickname }}
          </button>
          
          <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" routerLink="/profile" routerLinkActive="active">Profilo</a>
            <a *ngIf="isAdmin" class="dropdown-item" routerLink="/admin" routerLinkActive="active">Pannello
              Admin</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#" (click)="logout()">Logout</a>
          </div>
        </div>
  
      </div>
  
  
    </div>
  </nav>

<div class="container">
  <h2 class="mt-5 mb-3 center">Statistiche</h2>

  <div class="main">


    <table class="table table-bordered center hypen">
        <thead>
            <tr>
              <th scope="col" class="stat-title"> Numero di partite vinte</th>
              <th scope="col" class="stat-title"> Numero di partite perse</th>
              <th scope="col" class="stat-title"> Ratio Vinte/Perse </th>
              <th scope="col" class="stat-title"> Ratio Vinte/Totali </th>
            </tr>
          </thead>

          <tbody>

            <tr>

              <td class="stat-value">
                {{ info.win }}
              </td>
              <td class="stat-value">
                {{ info.lose }}
              </td>
              <td class="stat-value">
                {{ info.lose!==0 ? (info.win/info.lose).toFixed(2) : info.win.toFixed(2) }} 
              </td>
              <td class="stat-value">
                  {{ (info.win+info.lose)!==0 ? (info.win/(info.win+info.lose)).toFixed(2) : '0.00' }}
              </td>

            </tr>

            

          </tbody>

    </table>

    <canvas [hidden]="info.games.length===0" id="chart" class="mt-3"></canvas>
    <h3 class="center" [hidden]="info.games.length!==0"> Non hai giocato nessuna partita! </h3>


  </div>

  <ng-container *ngIf="info.games.length!==0;">

    <h2 class="mt-5 mb-3 center">Partite giocate</h2>

    <div class="main mb-3">

      <table class="table center hypen">

        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Avversario</th>
            <th scope="col">Vinto / Perso</th>
            <th scope="col">Data</th>
          </tr>
        </thead>

        <tbody>

          <tr *ngFor="let p of games; let i=index">

            <th scope="row"> {{ i+1 }}</th>

            <td>
              <p class="stat-value"> {{ p.avv_name }} </p>
            </td>
            <td>
              <p class="stat-value" [ngStyle]="{'color': !p.win ? 'red' : 'green' }"> {{ p.win ? 'Vinto' : 'Perso' }}
              </p>
            </td>
            <td>
              <p class="stat-value"> {{ p.timestamp.slice(8,10) + '/' + p.timestamp.slice(5,7) + '/' + p.timestamp.slice(0,4)}} </p>
            </td>
          </tr>

        </tbody>
      </table>
    </div>

  </ng-container>


</div>
