.my-row {
  font-size: 15pt;
  text-align: left;
}


.score-num {
  font-size: 15pt;
  font-style: italic;
  text-align: right;
  float: right;
}

li {
  list-style: none;
}

.first {
  font-size: 20pt;
  color: greenyellow;
}


@media only screen and (max-device-width: 480px) {
  .position {
    width: 30%;
  }
  .nickname {
    text-align: left;
  }
}