<nav class="navbar navbar-light navbar-fixed-top d-flex justify-content-center">
  <div class="navbar-header">
    <div class="navbar-brand">
      <img src="assets/icons/win/256x256.ico" width="30" height="30" class="d-inline-block align-top" alt="">

      <a style="text-decoration: none; color: white">
        BattleShip </a>
    </div>
  </div>
</nav>

<div class="row-fluid">
  <div class="col span8">
    <div class="container-fluid">

      <h3>Benvenuto in Battaglia Navale!</h3>


      <div class="text">
        Gioca subito alla classica versione della Battaglia Navale. Invita i tuoi amici e distruggi le loro flotte! 
        <br><hr class="visible-phone" style="width: 100%; border: 1px solid white;" /><br>
        Accedi o registrati subito per diventare il migliore capitano che ci sia!
      </div>

      <div class="row-fluid">

        <div class="box-drift">
          <div class="box-bob">
            <div class="box-pitch">
              <div class="left-sail"></div>
              <div class="right-sail"></div>
              <div class="hull"></div>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>

  <div class="col span4">
    <div class="container-fluid">
      <app-login-form></app-login-form>
      <app-register-form></app-register-form>
    </div>
  </div>
</div>
